*{
    font-family: Arial, Helvetica, sans-serif;
}
.labels{
    font-weight: bold;
    color: #2B4C5D;
}
.inputs{
    border-radius: 5px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    text-align  : center;
    height: 3vh;
    font-size: 2vh;
}
.principal_cardapio{

    margin-left: 3vw;
    border: none;
    border-radius: 5px;
  
    padding: 1vw;
    width: 68vw;
}
#servico_cardapio{
    color: brown;
    margin-top: 1.5vw;
    margin-left: 3vw;
}
#input0{
    text-align: left;
    padding-left: 10px;
    width: 6vw;
}
#label1{
    margin-left: 2.7vw;
}
#input2{
    text-align: left;
    padding-left: 10px;
    width: 14vw;
}
#label21{
    margin-left: 10.2vw;
}
#input3{
    width: 32vw;
    text-align: left;
}
#botao_cad1{
    width:  7.5vw;
    height: 3.5vh;
    border-radius: 6px;
    border: none;
    background-color: #2B4C5D;
    color: #f2f2f2;
    font-size: 20px;
    margin-left: 1vw;
    cursor: pointer;
}
#botao_cad2{
    width: 20vw;
    height: 4vh;
    border-radius: 6px;
    border: none;
    background-color: #2B4C5D;
    color: #f2f2f2;
    font-size: 20px;
    margin-left: 1vw;
    cursor: pointer;
    margin-top: -2vh;
    margin-left: 35vw;
}
#servico{
    margin-left: 0.5vw;
    width: 12vw;
    margin-top: 2.5vh;
    font-weight: bold;
    box-shadow: 2px 2px;
    font-size: 2vh;
    border-top: none;
    border-left: none;
}
#novo_prato{
    margin-left: 4vw;
    width: 40vw;
    text-align: left;
    height: 25vh;
    padding-top: 2vh;
    color: red;
}
#novo{
    margin-left: 4vw;
  
}
#nome{
    margin-left: 4vw;
   width: 30vw;
}
#label4{
    margin-left: 4vw;
}
#nome_cardapio{
    display: block;
    margin-top: 2vh;

}
#label5{
    margin-left: 4vw;
}